:root {
  --primary-color: #be63ff;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 12px rgba(0, 0, 0, 0.3);
}

body {
  margin-top: 100px;
}

h1,
h2,
h3 {
  margin: 0;
}

h1 {
  font-size: 80px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}

p {
  font-size: 18px;
  line-height: 1.5;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
}

.contact {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.about {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.yoga-link {
  border-radius: 4px;
  padding: 10px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}
.weather-link {
  border-radius: 4px;
  padding: 10px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}
.yogurt-link {
  border-radius: 4px;
  padding: 10px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.music-landing-page {
  background: var(--secondary-color);
  padding: 20px 10px;
}
.music-landing-page img {
  width: 300px;
  display: block;
  margin: auto;
  box-shadow: var(--box-shadow);
}

.weather-app-img {
  background: var(--secondary-color);
  padding: 20px 10px;
}

.weather-app-img img {
  width: 400px;
  display: block;
  margin: auto;
  box-shadow: var(--box-shadow);
}

.about-paragraphs {
  margin: 30px 0;
}

.about-paragraphs p {
  margin: 10px;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}

@media (max-width: 576px) {
  h1 {
    font-size: 45px;
    line-height: 1.5;
  }

  h2 {
    font-size: 28px;
    text-align: center;
  }

  p {
    font-size: 12px;
    text-align: center;
  }

  .project-link {
    display: block;
    text-align: center;
    margin: 0 20px;
  }
}